/.idea
/gabaritolista1.pdf
/Conceitos
/Ex07_testTXT
/Lista 2.txt
/~$24_1_AEDSII_Lista_7.docx
/src/Lista2_POO
/src/Lista3_ExceptionCreation
/src/Lista4_AlgoritmosPesquisa
/src/Lista5_Recursividade
/src/Lista6_7_Ordenacao
/src/Lista8_Fila
/src/Lista9_Pilha
/src/Lista10_Lista
/src/Lista11_ArvoreBinaria
/src/SimuladoProva
/src/SimuladoProva2
/zips
# Project exclude paths
/out/